  <%# <span class="copyright">&copy; 2018 Grindfusion PBC, Inc.</span> %>
  <script src="/javascripts/menuOperation.js"></script>
  <script src="/javascripts/targetChanger.js" charset="utf-8"></script>
</body>
</html>
