<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= 'Podcast, broadcast, and video transcription for content entrepreneurs — Pogggo.com' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- hamburgers css -->
    <link rel="stylesheet" href="/stylesheets/hamburgers.css">
  </head>
  <body>
