<div class="menu">
  <button id="modalMenuButton" class="hamburger hamburger--elastic" type="button" style="position: absolute; right: 0;">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <ul class="menu__items">
    <li class="menu__item color__green"><a class="menu__link" href="/pricing">Pricing</a></li>
    <li class="menu__item"><a class="menu__link" href="/frequently-asked-questions">FAQs</a></li>
    <li class="menu__item"><a class="menu__link" href="/contact">Contact</a></li>
    <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
  </ul>

  <span class="copyright">&copy; 2018 Grindfusion PBC, Inc.</span>
</div>
