<% include partials/header %>

<div class="content">
  <h1 class="content__title content__title--about-page">
    About
  </h1>
  <div class="divider"></div>

  <div class="section__about">
    <p class="section__about section__about--text">I started Pogggo in 2018 with a very simple objective:
      <span class="mission">help content
      entrepreneurs reach a broader audience</span>.
      <br><br>
      That's the motivation. I believe content entrepreneurs are a positive bunch. And in helping them deliver quality material, I discover more.
      <br><br>
      The impetus for Pogggo was brought about while I was listening to
      <a class="podcast-link" href="https://www.indiehackers.com/podcast/002-chris-chen-of-instapainting">this</a>
      podcast on Indie Hackers.
      <br><br>
      After hearing that podcast (and several others before it), I couldn't wait to get started. In the week that followed, I hit the ground running...so to speak.
      <br><br>
      Here's some of the work that went into Pogggo (and eating, lots of eating):
      <ul class="section__about section__about--work">
        <li>
          <h4 class="titles__work">Planning</h4>
          <img class="section__about--work-photos" src="/images/planning.png">
          <p class="section__about section__about--text-small">I made several business model (lean) canvases before
          hitting on the one that made me most proud.</p>
        </li>
        <li>
          <h4 class="titles__work">Designing</h4>
          <img class="section__about--work-photos" src="/images/designing.png">
          <img class="section__about--work-photos" src="/images/designing2.png">
          <p class="section__about section__about--text-small">The bold design of Pogggo came from using a sharpie to make mockups. I liked the obviously bold way sharpie on printer paper looked and decided to keep it.</p>
        </li>
        <li>
          <h4 class="titles__work">Programming</h4>
          <img class="section__about--work-photos" src="/images/programming.png">
          <p class="section__about section__about--text-small">Front-end: HTML + CSS + JS <br> Back-end: Express.js + Node.js (Use the tools you know).</p>
        </li>
      </ul>
    </p>
    <p class="section__about section__about--text">
      Anyway, that's the story behind Pogggo. I hope you enjoyed it, and I look forward to winning your business someday soon.
      <br><br>
      Cheers,
      <br><br>
      <img class="image-me" src="/images/me.png" alt="">
      <br>
      David (@buildpax)
    </p>
  </div>

</div>





<% include partials/menu %>
<% include partials/footer %>
