<% include partials/header %>

<div class="content">
  <h1 class="content__title content__title--contact-page">
    Contact
  </h1>
  <div class="divider"></div>

  <h4 class="email">Email</h5>
  <p class="email__address">
    <a href="mailto:contact@pogggo.com">contact[at]pogggo[dot]com</a>
  </p>

  <h5 class="phone">Phone</h5>
  <p class="phone__number">
    +1 (754) 307-6193
    <p class="phone__note">(SMS is best. We try to return calls within the hour, but it's not always possible. #dayjobs)</p>
  </p>
</div>





<% include partials/menu %>
<% include partials/footer %>
