<% include partials/header %>

<div class="content">
  <h1 class="content__title content__title--contact-page">
    Contact
  </h1>
  <div class="divider"></div>

  <h3 class="email">Email</h3>
  <p class="email__address">
    <a href="mailto:contact@pogggo.com">contact[at]pogggo[dot]com</a>
  </p>
</div>





<% include partials/menu %>
<% include partials/footer %>
