<% include partials/header %>

<div class="content">
  <h1 class="content__title content__title--faqs-page">
    FAQs
  </h1>
  <div class="divider"></div>

<div class="faqs">

  <p class="question">
    What is Pogggo?
  </p>
  <p class="answer">
    Pogggo is an audio transcription service for podcast hosts, radio broadcasters, and video content creators (e.g. YouTubers).
  </p>

  <p class="question">
    How does Pogggo work?
  </p>
  <p class="answer">
    Users upload audio files they need turned into text. We transcribe the audio and send the text version back to the user.
  </p>

  <p class="question">
    Do you use software to transcribe audio?
  </p>
  <p class="answer">
    Nope. It's all done by a live human <br>(Most likely, me. :-D)
  </p>

  <p class="question">
    What languages do you support?
  </p>
  <p class="answer">
    U.S. English
  </p>

  <p class="question">
    Can you do translation?
  </p>
  <p class="answer">
    At the moment only U.S. English is supported.
  </p>
</div>

</div>


<% include partials/menu %>
<% include partials/footer %>
