<% include partials/header %>

<div class="content">
  <h1 class="content__title">
    <span class="content__title--target">Podcast</span> to Text in 24 Hours, or it's free.
  </h1>

  <form id="upload" action="/upload" method="post" enctype="multipart/form-data">
    <input onchange="this.form.submit()" name="userUpload" form="upload" id="audioUpload" class="hidden" type="file" accept=".mp3, .m4a, .mp4" multiple>
    <label class="button__select" for="audioUpload">Upload Audio</label>
    <p class="centered"><%= typeof msg !== 'undefined' ? msg : ""; %></p>
  </form>
  <p><%= typeof file !== 'undefined' ? file : ""; %></p>

  <p class="note">(Upload limit: 1GB; .mp3, .m4a, .mp4)</p>

</div>

<% include partials/menu %>
<% include partials/footer %>
