<% include partials/header %>

<div class="content">
  <h1 class="content__title content__title--pricing-page">
    Pricing.
  </h1>
  <h1 class="content__title content__title--pricing-page content__title--parenthesis">(Good, Golly, Gosh)</h1>

  <div class="divider"></div>

<%# toggle switch compliments of Fernando Saldaña https://codepen.io/heyfher/ %>
  <div class="toggle-switch">
    <input type="checkbox" id="toggle"/>
    <label for="toggle"></label>
  </div>

</div>






<% include partials/menu %>
<% include partials/footer %>
