<% include partials/headerNoMenu %>

<div class="content">
  <h1 class="content__title">
    Thank You!
  </h1>
  <h3 class="success-message">
    Your audio is being processed. You should receive a confirmation email and invoice shortly.
  </h3>

  <a class="button__success" href="/"><button class="button">Go Back Home</button></a>
</div>

<% include partials/menu %>
<% include partials/footer %>




<% include partials/menu %>
<% include partials/footer %>
